# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Object files
*.o

# Libraries
*.a

# Executables
*.exe
*.out
*.app
?

# Other config directories
.*/**