# Object files
*.o
solution/*.o

# Libraries
*.a

# Executables
*.exe
*.out
*.app
?

# Other files
*.?ml
solution/CMake*
solution/cmake*
solution/.ninja*
solution/*.ninja

# Other config directories
.*/**
cmake-*/**
solution/CMake*/**
